body {
  background-color: lightgrey;
  color: black;
}

.cookieNcounter {
  background-color: white;
  color: black;
}

.container {
  border-color: #444;
}

.bot {
  background: rgb(108, 108, 108);
}

.sidemenus {
  background-color: white;
  color: black;
}

.upgrades img, .bots img {
  border-color: black;
}

.themes div, .botSpace div {
  border-color: black;
  color: black;
}
